/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background: #59C09F;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root {
	isolation: isolate;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:visited,
a:active {
	color: inherit;
}

p,
ul,
ol,
pre {
	line-height: 1.5;
	font-weight: normal;
}

h1,
h2,
h3 {
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.125;
}
strong {
	display: block;
}

li {
	margin-block-start: 0.25rem;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-feature-settings: 'liga', 'kern';
	font-family: 'Tiempos Text Regular';
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

img {
	max-width: 100%;
	display: block;
}

.u-visuallyHidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

input {
	font-family: 'Founders Grotesk';
}

*:focus-visible, *:focus {
	outline-style: solid;
	outline-width: 2px;
	outline-color: #0f62fe;
	outline-offset: 0.25rem;
}

@font-face {
	font-family: 'Founders Grotesk';
	src: url('/test-founders-grotesk-regular.woff2') format('woff2'),
		url('/test-founders-grotesk-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Text';
	src: url('/test-tiempos-text-regular.woff2') format('woff2'),
		url('/test-tiempos-text-regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Text';
	src: url('/test-tiempos-text-black.woff2') format('woff2'),
		url('/test-tiempos-text-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Text';
	src: url('/test-tiempos-text-medium.woff2') format('woff2'),
		url('/test-tiempos-text-medium.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Text';
	src: url('/test-tiempos-text-medium.woff2') format('woff2'),
		url('/test-tiempos-text-medium.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}


@font-face {
	font-family: 'Tiempos Text';
	src: url('/test-tiempos-text-semibold.woff2') format('woff2'),
		url('/test-tiempos-text-semibold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Text';
	src: url('/test-tiempos-text-bold.woff2') format('woff2'),
		url('/test-tiempos-text-bold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Manuka';
	src: url('/test-manuka-black.woff2') format('woff2'),
		url('/test-manuka-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}