*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background: #59C09F;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root {
	isolation: isolate;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:visited,
a:active {
	color: inherit;
}

p,
ul,
ol,
pre {
	line-height: 1.5;
	font-weight: normal;
}

h1,
h2,
h3 {
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.125;
}
strong {
	display: block;
}

li {
	margin-block-start: 0.25rem;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-feature-settings: 'liga', 'kern';
	font-family: 'Tiempos Text Regular';
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

img {
	max-width: 100%;
	display: block;
}

.main {
	grid-column: 1 / -1;
}


@font-face {
	font-family: 'Tiempos Text';
	src: url('/fonts/tiempos/tiempos-text-regular.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Text';
	src: url('/fonts/tiempos/tiempos-text-bold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Text';
	src: url('/fonts/tiempos/tiempos-text-regular-italic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

.maplibregl-ctrl-bottom-right {
	display: none;
}

.u-visuallyHidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.u-skipLink {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	background: black;
	color: white;
	font-family: 'franklin-gothic-compressed', sans-serif;
	font-weight: 600;
	padding-block: 1.5rem;
	padding-inline: 2rem;
	text-decoration: none;
	z-index: 400;

	&:visited {
		color: white;
	}

	&:focus {
		transform: translateY(0);
	}
}